{%- liquid
  assign nav_link_class = 'blog-header__nav-link button button--md whitespace-nowrap no-underline aria-[current=true]:pointer-events-none aria-[current=true]:button--outline aria-[current=false]:button--primary'
  assign nav_link_replace = '<a class="' | append: nav_link_class | append: '" aria-current="false"'
  assign nav_link_replace_active = '<a class="' | append: nav_link_class | append: '" aria-current="true"'

  capture tag_nav
    for tag in blog.all_tags
      if tag contains 'category:' or tag contains 'Category:'
        assign article_category = tag | remove: 'category:' | remove: 'Category:'
        if current_tags contains tag
          echo article_category | link_to_remove_tag: tag | replace: '<a ', nav_link_replace_active
        else
          echo article_category | link_to_tag: tag | replace: '<a ', nav_link_replace
        endif
      endif
    endfor
  endcapture
-%}

{%- comment -%} Container header {%- endcomment -%}
{%- capture container_header -%}
  <div class="flex flex-auto flex-col gap-4">
    <h1 class="blog-header__title mb-0 text-center">
      {{- blog.title -}}
    </h1>

    {%- if section.settings.enable_navigation and tag_nav != '' -%}
      <nav class="blog-header__nav blog-nav" aria-label="{%- render 'render-translation', namespace: 'accessibility', key: 'blog_tag_menu', fallback: 'Blog categories' -%}">
        <div class="blog-header__nav-list flex flex-wrap justify-center gap-4">
          {%- liquid
            # check if the 'all' link should be active
            assign nav_link_active = false
            unless current_tags.size
              assign nav_link_active = true
            endunless
          -%}

          {%- comment -%} General All blog link {%- endcomment -%}
          <a class="{{- nav_link_class -}}" aria-current="{{- nav_link_active -}}" href="{{ blog.url }}">
            {%- render 'render-translation', namespace: "blogs.general", key: "all_tags", fallback: "All" -%}
          </a>

          {% comment %} Render the other links {% endcomment %}
          {{- tag_nav -}}
        </div>
      </nav>
    {%- endif -%}
  </div>
{%- endcapture -%}

{%- comment -%} Container content {%- endcomment -%}
{%- capture container_content -%}
  <div class="main-blog" id="BlogArticlesGrid">
    {%- liquid
      paginate blog.articles by settings.articles_per_page
        render 'article-grid', blog: blog, paginate: paginate, pagination_type: settings.pagination_view_blog

        if paginate.pages > 1 and settings.pagination_view_blog == ''
          render 'pagination', paginate: paginate, anchor: '', class: ''
        endif
      endpaginate
    -%}
  </div>
{%- endcapture -%}

{%- liquid
  # Container footer
  capture container_footer
    if section.settings.show_back_to_top
      render 'back-to-top'
    endif
  endcapture
-%}

{%- comment -%} Render the blog articles {%- endcomment -%}
{%- render 'render-container-content',
  class: 'main-blog my-16',
  header_class: 'main-blog__header blog-header mb-10 flex gap-y-8 flex-col',
  header_content: container_header,
  content: container_content,
  footer_content: container_footer
-%}

{%- comment -%} Import javascript {%- endcomment -%}
{%- if settings.pagination_view_blog == 'load-more' -%}
  <script src="{{ 'load-more.js' | asset_url }}" defer></script>
{%- endif -%}

{%- if section.settings.show_back_to_top -%}
  <script src="{{ 'back-to-top.js' | asset_url }}" defer></script>
{%- endif -%}

{% schema %}
  {
    "name": "Blog",
    "tag": "section",
    "settings": [
      {
        "type": "select",
        "id": "heading_alignment",
        "label": "Heading alignment",
        "default": "text-center",
        "options": [
          {
            "value": "text-start",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          },
          {
            "value": "text-end",
            "label": "Right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_back_to_top",
        "default": true,
        "label": "Show back to top button"
      },
      {
        "type": "header",
        "content": "Blog navigation",
        "info": "The navigation is generated based on the blog post tags with the prefix 'category:'"
      },
      {
        "type": "checkbox",
        "id": "enable_navigation",
        "default": true,
        "label": "Enable blog tags navigation"
      }
    ]
  }
{% endschema %}
