{%- comment -%} Capture container content {%- endcomment -%}
{%- capture container_content -%}
  {%- for block in section.blocks -%}

    {%- case block.type -%}
        {% comment %} Title {% endcomment %}
      {%- when 'title' -%}

        <div
          class="article-header__information mx-auto grid max-w-screen-lg items-center gap-y-2 gap-x-base md:text-center"
          {{ block.shopify_attributes }}
        >
          {%- liquid
            # Tag
            if block.settings.blog_show_category
              for tag in article.tags
                if tag contains 'category:' or tag contains 'Category:'
                  assign article_category = tag | downcase | remove: 'category:'
                  echo '<p class="article-header__category text-sm font-semibold uppercase text-primary mb-0">'
                    echo article_category
                  echo '</p>'
                endif
              endfor
            endif
          -%}

          {% comment %} Title {% endcomment %}
          <h1 class="article-header__title">
            {{ article.title }}
          </h1>

          <div class="article-header__author-and-date flex items-center justify-between gap-4 text-sm md:justify-center">
            {% comment %} Author {% endcomment %}
            {%- if block.settings.blog_show_author -%}
              <address class="article-header__author font-semibold not-italic">
                {{ 'blogs.article.written_by' | t: author: article.author }}
              </address>
            {%- endif -%}

            {%- if block.settings.blog_show_author and block.settings.blog_show_date -%}
              <span class="hidden md:block">|</span>
            {%- endif -%}

            {% comment %} Date {% endcomment %}
            {%- if block.settings.blog_show_date -%}
              <p class="article-header__date opacity-70 contrast-more:opacity-100">
                {{ article.published_at | time_tag: format: 'day_month_year' }}
              </p>
            {%- endif -%}
          </div>
        </div>

        {% comment %} Featured image {% endcomment %}
      {%- when 'featured_image' -%}
        {%- if article.image -%}
          {%- liquid
            assign image_classes = 'max-w-full w-full h-auto block mx-auto object-cover object-top ' | append: block.settings.min_ratio_mobile | append: ' ' | append: block.settings.min_ratio_tablet

            if block.settings.min_ratio_mobile != block.settings.min_ratio_tablet
              assign default_aspect_ratio = block.settings.min_ratio_tablet | split: '[' | last | remove: ']'
              assign default_image_class = image_classes | append: ' hidden md:block ' | append: default_aspect_ratio

              assign mobile_aspect_ratio = block.settings.min_ratio_mobile | split: '[' | last | remove: ']'
              assign mobile_image_class = image_classes | append: ' md:hidden ' | append: mobile_aspect_ratio
            endif
          -%}
          {%- capture default_image -%}
            {%- render 'responsive-image',
              image_object: article.image,
              alt: article.title,
              max_width: 1360,
              sizes: '(min-width: 1440px) 1360px, 100vw',
              aspect_ratio: default_aspect_ratio,
              class: default_image_class,
              alt: article.title,
              title: article.title
            -%}
          {%- endcapture -%}

          <div class="article-header__featured-image {{ block.settings.min_ratio_mobile }} {{ block.settings.min_ratio_tablet }}" {{ block.shopify_attributes }}>
            {%- if block.settings.min_ratio_mobile != block.settings.min_ratio_tablet -%}
              {%- render 'responsive-image',
                image_object: article.image,
                alt: article.title,
                max_width: 768,
                sizes: '(min-width: 1440px) 1360px, 100vw',
                aspect_ratio: mobile_aspect_ratio,
                class: mobile_image_class,
                alt: article.title,
                title: article.title
              -%}
              {{ default_image }}
            {%- else -%}
              {{ default_image }}
            {%- endif -%}
          </div>
        {%- endif -%}
    {%- endcase -%}
  {%- endfor -%}
{%- endcapture -%}

{%- liquid
  # Capture container class
  capture container_class
    echo class | append: ' article-header space-y-8'
  endcapture

  # Render the content
  render 'render-container-content', tag: 'header', class: container_class, content_class: 'space-y-8', content: container_content
-%}
