{%- comment -%}
  Main collection header
  Accepts:
  - section:         {Object} main-collection.liquid section object (required)
{%- endcomment -%}

{% comment %} Collection header {% endcomment %}
<div class="collection-header mb-10">
  {% comment %} Title and Description {% endcomment %}
  <div class="collection-header__wrapper flex flex-auto flex-col gap-4">
    {%- comment -%} Render collection title {%- endcomment -%}
    <h1 class="collection-header__title mb-0 text-center">
      {%- liquid
        if collection.url == '/collections/all'
          echo 'sections.breadcrumbs.all_products' | t
        else
          echo '<span class="sr-only">'
          render 'render-translation', namespace: 'sections.collection_template', key: 'title', fallback: 'Collection:'
          echo ': </span>' | append: collection.title
        endif
      -%}
    </h1>

    {%- comment -%} Collection description {%- endcomment -%}
    {%- if section.settings.show_collection_description and collection.description != blank -%}
      <div class="collection-header__description rte text-center">
        {{- collection.description -}}
      </div>
    {%- endif -%}

    {% comment %} All collections {% endcomment %}
    <nav
      class="collection-header__collections flex flex-wrap justify-center gap-4"
      aria-label="{%- render 'render-translation', namespace: 'accessibility', key: 'collection_menu', fallback: 'Collectie menu' -%}">
      {%- for other_collection in collections -%}
        {%- if other_collection == collection -%}
          <button class="button button--outline button--sm pointer-events-none">
            {{- other_collection.title }}
          </button>
        {%- elsif other_collection.all_products_count > 0 -%}
          <a href="{{ other_collection.url }}" class="button button--primary button--sm no-underline">
            {{- other_collection.title }}
          </a>
        {%- endif -%}
      {%- endfor -%}
    </nav>
  </div>

  {%- if collection.all_products_count > 1 and collection.filters.size > 0 -%}
    {% comment %} Collection filter button {% endcomment %}
    <class-toggle-component
      class="collection-header__filter-trigger min-w-max {% if settings.filter_display == 'grid' -%}lg:hidden{% elsif settings.filter_display == 'flex' -%}md:hidden{%- endif -%}"
      data-options='
        {
          "classToToggle": "filter-is-open"
        }
      '>
      <button
        type="button"
        class="button button--outline flex whitespace-nowrap px-2 py-2.5 leading-none sm:px-4">
        {%- render 'icons', icon: 'filter', icon_class: 'w-6' -%}

        {%- comment -%} Text label {%- endcomment -%}
        <span>
          {%- render 'render-translation', namespace: 'sections.collection_template', key: 'filter', fallback: 'Filter' -%}
          {%- comment -%} Show active number of filters, loaded by js {%- endcomment -%}
          <span class="font-body text-xs font-normal" data-filter-total-active-options></span>
        </span>
      </button>
    </class-toggle-component>
  {%- endif -%}
</div>

{% comment %} Sort sorting {% endcomment %}
{%- if section.settings.enable_sorting -%}
  <div class="collection-header__totals mt-8 flex flex-wrap items-center justify-center gap-base empty:hidden {% if collection.all_products_count == 1 and is_filtered == false -%}!hidden{%- endif -%}">
    <div class="collection-header__sorting relative flex justify-end gap-4">
      {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}

      {% comment %} Sort options {% endcomment %}
      <collection-filters-form class="collection-nav__sort sort-options">
        <form>
          <div class="field">
            <label class="field__label sr-only" for="sort-options">
              {%- render 'render-translation', namespace: 'sections.collection_template', key: 'sort_by_label', fallback: 'Sort by' -%}
            </label>
            <div class="select group flex-auto">
              <select
                class="select__select peer rounded-md border-2 border-solid border-black bg-transparent ellipsis group-states:bg-secondary group-states:text-secondary-text"
                name="sort_by"
                id="sort-options">
                {%- for option in collection.sort_options -%}
                  <option
                    value="{{ option.value }}"
                    {% if option.value == sort_by %}
                      selected
                    {% endif %}>
                    {{- option.name -}}
                  </option>
                {%- endfor -%}
              </select>
              <span class="select__select-icon group-states:text-secondary-text">
                {%- render 'icons', icon: 'chevron-down', icon_size: 'w-3' -%}
              </span>
            </div>
          </div>
        </form>
      </collection-filters-form>
    </div>
  </div>
{%- endif -%}
