{%- comment -%}
  Renders the country picker for the localization form

  Accepts:
    - localPosition: pass in the position in which the form is coming up to create specific IDs
    - type: String: 'country' or 'language'
{%- endcomment -%}

{%- liquid
  unless color_scheme
    assign color_scheme = 'color-scheme--white'
  endunless

  unless show_icon_only
    assign show_icon_only = false
  endunless

  unless show_icon
    assign show_icon = false
  endunless

  if type == 'country'
    assign object = localization.available_countries
    capture label
      render 'render-translation', namespace: 'general.localization', key: 'country_label', fallback: 'Country/region'
    endcapture
    capture update_text
      render 'render-translation', namespace: 'general.localization', key: 'update_country', fallback: 'Update country'
    endcapture
  else
    assign object = localization.available_languages
    capture label
      render 'render-translation', namespace: 'general.localization', key: 'language_label', fallback: 'Language'
    endcapture
    capture update_text
      render 'render-translation', namespace: 'general.localization', key: 'update_language', fallback: 'Update language'
    endcapture
  endif

  assign form_id = localPosition | append: 'Form'
-%}

<localization-form>
  {%- form 'localization', id: form_id, class: 'localization-form' -%}
    <noscript>
      <div class="localization-form__select select">
        <label class="field__label" for="{{ localPosition }}NoScript">
          {{ label }}
        </label>
        <select
          id="{{ localPosition }}NoScript"
          class="localization-selector select__select text-text-default"
          name="{%- if type == 'country' -%}country_code{%- else -%}locale_code{%- endif -%}">
          {%- for item in object -%}
            <option
              value="{{ item.iso_code }}"
              {% if type == 'language' -%}
                lang="{{ item.iso_code }}"
              {%- endif %}
              {%- if item.iso_code == localization.item.iso_code -%}
                selected
              {%- endif %}>
              {%- if type == 'country' -%}
                {{ item.name }} ({{ item.currency.iso_code }}
                {{ item.currency.symbol }})
              {%- else -%}
                {{ item.endonym_name | capitalize }}
              {%- endif -%}
            </option>
          {%- endfor -%}
        </select>
        <span class="select__select-icon">
          {%- render 'icons', icon: 'chevron-down', icon_size: 'w-3' -%}
        </span>
      </div>
      <button class="button button--outline">
        {{ update_text }}
      </button>
    </noscript>

    <collapsible-component
      class="collapsible not-rte flex flex-col gap-4 no-js:hidden"
      data-options='
        {
          "trapFocus": false,
          "onHover": true,
          "hoverDelay": 200,
          "closeOnMouseleave": true
        }
      '>
      <p class="sr-only" id="{{ localPosition }}Label">
        {{ label }}
      </p>
      <div class="localization-form relative">
        <div class="collapsible__group group" data-collapsible-group>
          <button
            type="button"
            class="collapsible__trigger localization-form__button {% unless show_icon_only %}button button--outline flex-nowrap gap-4 p-2{% else %}flex items-center gap-2{% endunless %} whitespace-nowrap [&>.icon--chevron-down]:aria-[expanded=true]:rotate-180"
            data-collapsible-trigger>
            {%- if type == 'country' -%}
              {{- localization.country.currency.iso_code }}
              {{ localization.country.currency.symbol }} | {{ localization.country.name -}}
            {%- else -%}
              {%- liquid
                if show_icon_only or show_icon
                  assign flag_name = 'flag-' | append: localization.language.iso_code
                  render 'icons', icon: flag_name, icon_class: 'w-5'
                endif
              -%}
              <span
                {% if show_icon_only -%}
                  class="sr-only"
                {%- endif -%}>
                {{- localization.language.endonym_name | capitalize -}}
              </span>
            {%- endif -%}

            <span class="collapsible__trigger-icons">
              {%- render 'icons', icon: 'collapsible', icon_class: 'w-4 transition-tranform group-[.collapsible-is-open]:rotate-180' -%}
            </span>
          </button>

          <div
            class="collapsible__target absolute top-full {% if show_icon_only -%}-start-6 right-0 w-[calc(100%_+_24px)]{% endif %}"
            data-collapsible-target>
            <div class="rte overflow-hidden">
              <div data-localization-list>
                <ul class="localization-form__list list-unstyled list-none {% if show_icon_only -%}color-scheme p-0 ps-6 pt-2 {{ color_scheme }} group-[.header-sticky]/body:bg-[var(--color-scheme-background-color)] group-[.template-index:not(.header-sticky)]/body:bg-transparent{% endif %}">
                  {%- for item in object -%}
                    {%- liquid
                      # Skip current language/currency
                      if type == 'country' and localization.country.currency.iso_code == item.currency.iso_code
                        continue
                      elsif type == 'language' and localization.language.endonym_name == item.endonym_name
                        continue
                      endif
                    -%}

                    <li class="localization-form__item py-2" tabindex="-1">
                      <a
                        class="localization-form__link focus-inset group flex items-center gap-4 text-sm no-underline {% unless show_icon_only -%}px-3{% endunless %} {% if item.iso_code == localization[item].iso_code %}localization-form__link--active{% endif %}"
                        href="#"
                        {% if item.iso_code == localization.item.iso_code %}
                          aria-current="true"
                        {% endif %}
                        data-value="{{ item.iso_code }}">
                        {%- if type == 'country' -%}
                          <span class="localization-form__currency">
                            {{- item.currency.iso_code }}
                            {{ item.currency.symbol }} |
                          </span>
                          {{- item.name -}}
                        {%- else -%}
                          {%- liquid
                            if show_icon_only or show_icon
                              assign flag_name = 'flag-' | append: item.iso_code
                              render 'icons', icon: flag_name, icon_class: 'w-5 transition group-hover:scale-110'
                            endif
                          -%}
                          <span
                            {% if show_icon_only -%}
                              class="sr-only"
                            {%- endif -%}>
                            {{- item.endonym_name | capitalize -}}
                          </span>
                        {%- endif -%}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      {%- if type == 'country' -%}
        <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
      {%- else -%}
        <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
      {%- endif -%}
    </collapsible-component>
  {%- endform -%}
</localization-form>
